@import  "https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap";

*{
  margin: 0;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

.main-div{
  height: 10vh;
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  border-bottom: 1px solid cyan;
}
.link{
  text-decoration: none;
  color: white;
}
.footer-div{
  height: 5vh;
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  font-size: 12px;
  text-transform: capitalize;
  border-top: 2px solid cyan;
}

.movie{
  height: 84.5vh;
  background-color: #383838;
  color: white;
  padding: 0rem 1rem;
  font-size: 16px;
  text-transform: capitalize;
  overflow-x: hidden;
  overflow-y:scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.movie::-webkit-scrollbar {
  display: none;
}

.poster{
  width: 300px;
  height: 500px;
}

.card{
  width: 300px;
  height: 450px;
  align-items: center ;
  padding: 1rem;
}

.poster{
  width: 250px;
  height: 350px;
}

.input{
  outline: none;
  width: 15rem;
  height: 2rem;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
}

.movie-detail{
  height: 84.5vh;
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-poster{
  width: 300px;
  height: 400px;
  border: 5px solid cyan;
  margin: 2rem;
}

.mar-1{
  margin: 1rem;
}

.rating{
  background-color: rgb(154, 31, 165);
  color: white;
  width: 150px;
  align-items: center;
  padding: 0.5rem 2rem;
  font-weight: 600;
}
h3{
  padding: 1rem;
}
.link-1{
  background-color: rgb(13, 228, 60);
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 4rem;
  border-radius: 5px;
}

/* mobile responsive */

@media only screen and (max-width: 600px) {
  .main-div{
    height: 15vh;
    background-color: #383838;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid cyan;
    flex-direction: column;
  }
  h3{
    padding: 1rem;
  }
  .movie-detail{
    height: auto;
    width: auto;
    background-color: #383838;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}